.header{
   max-width: 1500px;
   min-width: 768px;


}

.header__container-logo{
   display: flex;
   justify-content: center;
}




.header__title{
   font-family: "Inter Black";
   font-size: 96px;
   line-height: 104%;
   text-align: center;
   margin: auto;
   max-width: 793px;

}

.header__subtitle{
   font-family: 'Inter Regular';
   font-size: 30px;
   line-height: 120%;
   text-align: center;
   max-width: 720px;
   margin: auto;
   padding-bottom: 48px;
}
.header__container-image{
   min-height: 50vh;
   width: 984px;
   height: 615px;
   margin: auto;

}

.header__image{
   display: grid;
}

