.intro{
  
}

.intro__container{
  max-width: 828px;
  margin: auto;

}

.intro__title{
  font-family: 'Inter Black';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 104%;
}

.intro__subitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
}

.intro__subitle-name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  text-align: end;

}

.intro__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  display: grid;
  
}

.intro__container-gallery{
  padding-bottom: 50px ;
}

.content__intro-gallery{
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  justify-content: center;
  grid-gap: 10px;

}

@media only screen and (min-width: 768px) and (max-width: 1160px) {
  .content__intro-gallery{
    display: grid;
    grid-template-columns: repeat(2, .1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
}